<h1>New Task</h1>

<div class="buttonholder">
<form action="/tasks/" method="post">
  <label for="task_name">Description</label>
  <input id="task_name" name="name" type="text" value="<%= @task.name %>">
  <button type="submit">+</button>
</form>
</div>

<p><a href="/tasks/">Return to tasks list</a></p>


<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li class="errors"><%= message %></li>
    <% end %>
  </ul>
<% end %>
