<h1>New Task</h1>

<div class="buttonholder">
<form action="/tasks/" method="post">
  <label for="task_name">Description</label>
  <input id="task_name" name="name" type="text">
  <button type="submit">+</button>
</form>
</div>

<p><a href="/tasks/">Return to tasks list</a></p>
